.class_border{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.class_body {
    margin-top: 104px;
}
.class_table {
  background: lawngreen;
  padding: 20px;
}
.class_product-image img {
  width: 100%;
  height: 130px;
  object-fit: contain;
  margin-inline: auto;
  background: white;
}

.class_product_head {
  text-align: center;
}
.class_product h1 {
  font-size: 20px;
}
.class_container2 {
  background: black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  padding: 0px 49px;
  border-bottom:8px solid gold;
}
.class_product_details {
  display: flex;
  justify-content: space-evenly;
  column-gap: 30px;
}
.class_ordered_product {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}
.class_items_det p {
  margin-bottom: 15px;
}
.class_container2 h1 {
  font-size: 21px;
  text-align: center;
}

.class_border {
  border-top: 1px solid rgb(156, 145, 145);
}
.class_border2 {
  color: rgb(162, 152, 152);
}

